{% extends 'quickcheck/layout.html' %}

{% block body %}

<h3 style="text-align: center;"> Latest News</h3>
    <div class="container">
        <form class="d-flex" role="search" action="/quickcheck" method="GET">
          <input class="form-control me-2" type="search"  name="search_item" placeholder="Type" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
<br>
{% for post in pages %}
<div class="card">
  <div class="card-header">
      Written by <b>{{ post.by }}</b>
  </div>
  <div class="card-body">
      <h5 class="card-title" style="color: blue;"> {{ post.title }} </h5>
      <h6 class="card-text"> <b><l>Type</l>: {{ post.type }}</b> </h6>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="{{ post.url }}" target="_blank" class="btn btn-primary"> Read More ... </a>
  </div>
</div>
<br>
{% endfor %}
<br>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not pager.has_prev %} disabled {% endif %}">
        {% if search_item %}
            <a class="page-link" href="./quickcheck?search_item={{ search_item }}&page={{ pager.prev_num }} ">Previous</a>
        {% else %}
      <a class="page-link" href="./quickcheck?page={{ pager.prev_num }} ">Previous</a>
        {% endif %}
    </li>

    {% if pager.prev_num != 0 %}
    <li class="page-item"><a class="page-link" href="./quickcheck?page={{ pager.prev_num }}"> {{ pager.prev_num }} </a></li>
    {% endif %}
      <li class="page-item active" aria-current="page"><a class="page-link" href="#"> {{ pager.page }} </a></li>
    {% if pager.next_num != pager.page %}
      <li class="page-item"><a class="page-link" href="./quickcheck?page={{ pager.next_num }}"> {{ pager.next_num }} </a></li>
    {% endif %}

      <li class="page-item">
        {% if search_item %}
            <a class="page-link" href="./quickcheck?search_item={{ search_item }}&page={{ pager.next_num }}">Next</a>
        {% else %}
      <a class="page-link" href="./quickcheck?page={{ pager.next_num }}">Next</a>
        {% endif %}
    </li>
  </ul>
</nav>

{% endblock %}