{% extends 'base.html' %}
{% block body %}
<div class="jumbotron text-center">
    <h1>Welcome</h1>
        <form class="row g-3" action="/" method="POST">
          <div class="col-md-4">
            <label for="validationServer01" class="form-label">First name</label>
            <input type="text" class="form-control is-valid" id="validationServer01" name="first_name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServer02" class="form-label">Last name</label>
            <input type="text" class="form-control is-valid" id="validationServer02" name="last_name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServerUsername" class="form-label">Phone Number</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend3">@</span>
              <input type="text" class="form-control is-invalid" id="validationServerUsername" name="phone_number" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationServer03" class="form-label">Address</label>
            <input type="text" class="form-control is-invalid" id="validationServer03" name="address" aria-describedby="validationServer03Feedback" required>
            <div id="validationServer03Feedback" class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationDefault05" class="form-label">City</label>
            <input type="text" class="form-control" id="validationDefault05" name="city" required>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
</div>
{% endblock %}